:root {
  --primary-color: #5281ce;
  --secondary-color: #ff9a9f;
  --tertiary-color: #39c56a;

  --text-light: #fbfbfb;
  --text-dark: #212427;

  --background-color: #242424;
  --higher-order-background-color: #161717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16rem;
  color: var(--text-light);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-container {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.heading-text {
  font-size: 60rem;
}

.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10%;
}

.play-btn {
  margin-top: 40px;
  appearance: none;
  outline: none;
  border: none;
  font-size: 23rem;
  padding: 16px 60px;
  background-color: green;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header,
.footer {
  font-size: 17rem;
}

.header {
  margin-top: 25px;
}

.home-buttons {
  position: absolute;
  margin: 20px;
  appearance: none;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #39c56a;
  cursor: pointer;
}

.sound-btn {
  bottom: 0;
  left: 0;
}

.sound-btn-icon {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.info-btn {
  bottom: 0;
  right: 0;
}

.info-btn-icon {
  width: 30px;
  height: 30px;
  background-image: url(../assets/img/info.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.github-logo {
  width: 22px;
  height: 22px;
  background-image: url(../assets/img/github-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  text-decoration: none;
  color: var(--text-light);
}
