@font-face {
  font-family: 'Horror';
  src: url(../assets/fonts/get_schwifty.ttf);
}

:root {
  --primary-color: #5281ce;
  --secondary-color: #ff9a9f;
  --tertiary-color: #39c56a;

  --text-light: #fbfbfb;
  --text-dark: #212427;

  --background-color: #242424;
  --higher-order-background-color: #161717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16rem;
  color: var(--text-light);
  font-family: 'Helvetica', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.play-btn {
  margin-bottom: 20%;
  appearance: none;
  outline: none;
  border: none;
  font-size: 35rem;
  padding: 13px 70px;
  background-color: var(--tertiary-color);
  color: var(--text-light);
  font-weight: 1000;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 4px solid white;
}

.play-btn:hover {
  background-color: #2eb95f;
  transform: scale(1.1);
}

.home-buttons {
  position: absolute;
  margin: 20px;
  appearance: none;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #39c56a;
  cursor: pointer;
}

.sound-btn {
  bottom: 0;
  left: 0;
}

.sound-on-icon {
  width: 30px;
  height: 30px;
  background-image: url(../assets/img/sound-on.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sound-off-icon {
  width: 30px;
  height: 30px;
  background-image: url(../assets/img/sound-off.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.info-btn {
  bottom: 0;
  right: 0;
}

.info-btn-icon {
  width: 30px;
  height: 30px;
  background-image: url(../assets/img/info.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.info-modal {
  position: absolute;
  z-index: 1000;
  width: 700px;
  border: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--tertiary-color);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-para {
  font-size: 18rem;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 15px;
}

.info-heading {
  font-size: 25rem;
  font-weight: bold;
}

.how-to {
  font-size: 18rem;
  font-weight: bold;
  margin-top: 20px;
}

.modal-body {
  padding: 26px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #161717;
  opacity: 70%;
  z-index: 999;
}

.close-modal-btn {
  width: 25px;
  height: 25px;
  background-image: url(../assets/img/x-mark.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  background-color: transparent;
  border: none;
  appearance: none;
  outline: none;
}
